<nav class="navbar navbar-expand-lg navbar-light" id=nav-top>
  <a class="navbar-brand" href="#">
    <button type="button" id="sidebarCollapse" class="btn  btn-success">
      <i class="fas fa-align-left"></i>
      <span></span>
    </button>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




<div class="wrapper">
  
  <nav id="sidebar">
    
    <div class="sidebar-header">
      <h3>Engineers</h3>
    </div>
    <ul class="lisst-unstyled components">
      
      <!-- <p>The Providers</p> -->
      <li class="active">
        <a href="/admin"><i class="fas fa-home admin-icon"></i>Home</a>
      </li>
      <li>
        <a href="#profileSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
            class="fas fa-address-card admin-icon"></i>Profile</a>
        <ul class="collapse list-unstyled" id="profileSubmenu">
          <li>
            <a href="/admin/profile">Profile</a>
          </li>
          <li>
            <a href="/admin/profile-add">Add Profile</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#projectSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
            class="fas fa-address-card admin-icon"></i>Project</a>
        <ul class="collapse list-unstyled" id="projectSubmenu">
          <li>
            <a href="/admin/project">Project</a>
          </li>
          <li>
            <a href="/admin/project-add">Add Project</a>
          </li>
        </ul>
      </li>
    <li>
      <a href="#blogSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
          class="fas fa-align-left admin-icon"></i>Blog</a>
      <ul class="collapse list-unstyled" id="blogSubmenu">
        <li>
          <a href="/admin/blog">Blog</a>
        </li>
        <li>
          <a href="/admin/blog-add">Add Blog</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#contactSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
          class="fas fa-align-left admin-icon"></i>Contact</a>
      <ul class="collapse list-unstyled" id="contactSubmenu">
          <a href="/admin/contact">Contact</a>
      </ul>
    </li>
    </ul>
  </nav>


  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

      </div>
    </nav>