<div id="block-7" class="navItem">
    <div class="container"> 
        <div class="row">
            <h2 class="header-h2-contact">Contact</h2>
            <p class="header-p-contact">“If I had asked people what they wanted, they would have said faster horses. ”
                <br>
                - Henry Ford
            </p>
        </div>
        <hr class="hr-bottom-border-contact">
        <div class="row row-2 d-flex">
            <div class="col-8">
                <form method="POST", action="">
                {{ form.hidden_tag() }}
                
                    {{form.name.label}}
                    <div class="col-12">
                        {{form.name(class="non-btn")}}
                    </div>
                    {{form.email.label}}
                    <div class="col-12">
                        {{form.email(class="non-btn")}}
                    </div>
                    {{form.message.label}}
                    <div class="col-12">
                        {{form.message(class="non-btn")}}
                    </div>
                    <div class="col-4">
                        {{form.submit(class="btn-contact")}}
                    </div>
                </form>
            </div>
            <div class="col-4 mar-top-20">
                <ul>
                    <li> 
                        <a href="" class="d-flex">
                            <i class="fab fa-twitter-square"></i> <p>https://twitter.com/CingizAga</p> 
                        </a>
                    </li>
                    <li>
                        <a href="" class="d-flex">
                           <i class="fab fa-linkedin"></i> <p>https://www.linkedin.com</p> 
                        </a>
                    </li>
                    <li>
                        <a href="" class="d-flex">
                            <i class="fas fa-envelope"></i> <p>https://mail.google.com/mail/u/0/#inbox</p> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="hr-bottom-border-contact">
        <div class="row">
        </div>
    </div>
</div>